body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 150px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Ccircle cx='15' cy='15' r='20' fill='%23ed8877' opacity='0.5'/%3E%3Ccircle cx='85' cy='15' r='20' fill='%23ed8877' opacity='0.5'/%3E%3Ccircle cx='15' cy='85' r='20' fill='%23ed8877' opacity='0.5'/%3E%3Ccircle cx='85' cy='85' r='20' fill='%23ed8877' opacity='0.5'/%3E%3Ccircle cx='0' cy='0' r='10' fill='%233D348B' opacity='0.5'/%3E%3Ccircle cx='100' cy='0' r='10' fill='%233D348B' opacity='0.5'/%3E%3Ccircle cx='0' cy='100' r='10' fill='%233D348B' opacity='0.5'/%3E%3Ccircle cx='100' cy='100' r='10' fill='%233D348B' opacity='0.5'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='white' opacity='0.5'/%3E%3Crect width='100%25' height='100%25' fill='url(%23bg_pattern)' opacity='0.5'/%3E%3C/svg%3E");
}

h1,
h2,
h3 {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  font-size: 55px;
  text-align: center;
  margin: 0;
}

header .editable-title {
  margin-left: 50px;
}

header {
  display: flex;
  justify-content: space-between;
}

header .time p {
  font-size: 25px;
  margin-top: 0;
}

main .to-do-list {
  background: rgba(245, 183, 38, 0.315);
  padding: 30px;
  border-radius: 5px;
  width: 300px;
}

main h2 {
  margin-top: 0;
  text-align: center;
  font-size: 25px;
}

main .add-task {
  text-align: center;
}

.task-input {
  padding: 10px 20px;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 4px;
  font-size: 17px;
}

.add-button {
  padding: 10px 20px;
  background: rgb(205, 241, 195);
  border-radius: 4px;
  border: 1px solid rgb(149, 149, 149);
  font-size: 17px;
  margin-left: 5px;
  cursor: pointer;
}

.edit-button {
  background: rgb(125, 147, 234);
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgb(149, 149, 149);
  font-size: 15px;
}

.delete-button {
  background: rgb(234, 165, 165);
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.tasks {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 20px;
  height: 400px;
}

ul {
  list-style: none;
  padding: 10px;
}

ul li {
  padding: 20px;
  border-bottom: 1px solid rgba(225, 176, 133, 0.242);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

main .notes {
  background: rgba(245, 183, 38, 0.315);
  padding: 30px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

main .text-notes {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 20px;
  height: 150px;
  color: rgba(0, 0, 0, 0.461);
}
